.top {
    border-color: rgb(36, 35, 35);
    background-color: rgb(36, 35, 35);
    border-style: solid;
    color:aliceblue;
    display: flex;
    align-items: center;
    gap: 50px;
    font: 15px Verdana, sans-serif;
    padding-left: 2%
    
}
body {
    margin: 0%;
    background-color: rgb(41, 39, 39);
}

.csmCh1 img {
    display: block;
  margin-left: auto;
  margin-right: auto;
  
  
}
h1 {
    color:aliceblue;
}



.chaptersSelect select {
    background-color: rgb(207, 201, 201);
    width: 300px;
    height: 50px;
    border-style: solid;
    border-radius: 5px;
    border-color: black;
    
    
}

.chaptersSelect {
    display: flex;
    justify-content: left;
    padding-left: 1%;
    
    
    
    
}
.chaptersSelect select:hover {
    cursor: pointer;
}

.buttons button {
    width: 110px;
    height: 50px;
    background-color: rgb(207, 201, 201);
    border-style: solid;
    border-radius: 5px;
    border-color: black;
    transition: width 0.5s, height 0.5s, background-color 0.5s;
    
    
}

.buttons {
    display: flex;
    justify-content: right;
    padding-right: 20%;
    
    
    
}
.buttons button:hover {
    background-color: rgb(24, 23, 23);
    color:aliceblue;
    cursor: pointer;
}

a {
  color: aliceblue;
  font-weight: bold;
  text-decoration: none;
}



.top a:hover  {
    color: gray;
    transition: width 0.5s, height 0.5s, background-color 0.5s;
  
}

.top h2:hover {
    color: gray;
    cursor: pointer;
    transition: width 0.5s, height 0.5s, background-color 0.5s;
}

.searchBarDiv {
    margin-left: auto;
    
}

.searchBarDiv {
    display: flex;
    align-items: center;
    width: 400px;
    height:50px;
    background-color: rgb(70, 67, 67);
    color:aliceblue;
    border-style: solid;
    border-color: rgb(99, 95, 95);
    
    
}
#searchBar {
    flex: 1;
    border:none;
    background: transparent;
    color: aliceblue;
    height: 100%;
    
}

.languageOption  {
    margin-right: 2%;

    
}


.languageOption select {
    width:150px;
    height:40px;
    background-color: rgb(70, 67, 67);
    color:aliceblue;
    border-style: solid;
    border-color: rgb(99, 95, 95);
    
}

.languageOption select:hover {
    cursor: pointer;
}

#searchIcon {
    border: none;
    background: transparent;
    cursor: pointer;
    border-left: 2px solid;
    border-color: rgb(104, 102, 102);
    height: 80%;
    border-width: 4px;
    font-size: 20px;
    padding-left: 12px;
    padding-right: 12px;
    
    
    
    

}

